# Importing the Neccessary Libraries

Code Meaning:
1) Import requests library in order to parse data from a website.
2) Import pandas library in order to change csv files into dataframes.
3) Import bs4 from BeautifulSoup library in order to translate parsed data int JSON format.
4) Import numpy library in order to run mathematical equations.
5) Import Plotly Express library in order to display charts.
6) Import stats from the scipy library in order to run t-tests and calculate p-value.

In [98]:
import requests

import pandas as pd

from bs4 import BeautifulSoup

import numpy as np

import plotly.express as px

from scipy import stats as st

# Uploading the Dataframes

Code Meaning:
1) Save the website address from the Sprint 6 project as a string in order to work parse the data from the website.
2) Save the string under the variable URL in order to save the result.

In [99]:
URL = 'https://practicum-content.s3.us-west-1.amazonaws.com/data-analyst-eng/moved_chicago_weather_2017.html'

In [100]:
req = requests.get(URL)

In [101]:
soup = BeautifulSoup(req.text, 'lxml')

In [102]:
table = soup.find('table', attrs={"id": "weather_records"})

In [103]:
headers = [header.text for header in table.find_all('th')]

In [104]:
rows = []
for row in table.find_all('tr'):
    cells = row.find_all('td')
    if len(cells) > 0:
        rows.append([cell.text for cell in cells])

In [105]:
weather_records = pd.DataFrame(rows, columns=headers)

weather_records.head()

         Date and time Temperature       Description
0  2017-11-01 00:00:00     276.150     broken clouds
1  2017-11-01 01:00:00     275.700  scattered clouds
2  2017-11-01 02:00:00     275.610   overcast clouds
3  2017-11-01 03:00:00     275.350     broken clouds
4  2017-11-01 04:00:00     275.240     broken clouds

Code Meaning:
1) Use the rename() method along withe the columns parameter in roder to rename the columns in the weather_records dataframe appropriately.
2) Reassign the code to the variable weather_records in order to save the result.
3) Use the head() method in order print the first five rows of the weather_records dataframe.

Code Result:
The date_and_time, temperature and description columns were renamed appropriately.

In [106]:
weather_records = weather_records.rename(columns={'Date and time' : 'date_and_time', 'Temperature': 'temperature', 'Description': 'description'})

weather_records.head()

         date_and_time temperature       description
0  2017-11-01 00:00:00     276.150     broken clouds
1  2017-11-01 01:00:00     275.700  scattered clouds
2  2017-11-01 02:00:00     275.610   overcast clouds
3  2017-11-01 03:00:00     275.350     broken clouds
4  2017-11-01 04:00:00     275.240     broken clouds

Code Meaning:
1) Use the try method in order to create a file path that uploads the dataframe in a non-local computer.
2) In the try method, use pd.read_csv() in order to upload the dataframe under the file path: '/datasets/project_sql_result_01.csv'.
3) Assign the code to company_trips in order to save the result and create the dataframe.
4) Use the except method in order to create a file path that uploads the dataframe in my local computer.
5) In the except method, use pd.read_csv() in order to upload the dataframe under the file path: 'moved_project_sql_result_01.csv'.
6) Assign the code to company_trips in order to save the result and create the dataframe.
7) Use the head() method in order to print out the first five lines of the company_trips dataframe.

Code Result:
The company_trips dataframe was created successfully.

In [107]:
try:
    company_trips = pd.read_csv('/datasets/project_sql_result_01.csv')
except:
    company_trips = pd.read_csv('moved_project_sql_result_01.csv')

company_trips.head()

                      company_name  trips_amount
0                        Flash Cab         19558
1        Taxi Affiliation Services         11422
2                 Medallion Leasin         10367
3                       Yellow Cab          9888
4  Taxi Affiliation Service Yellow          9299

Code Meaning:
1) Use the try method in order to create a file path that uploads the dataframe in a non-local computer.
2) In the try method, use pd.read_csv() in order to upload the dataframe under the file path: '/datasets/project_sql_result_04.csv'.
3) Assign the code to dropoff_location in order to save the result and create the dataframe.
4) Use the except method in order to create a file path that uploads the dataframe in my local computer.
5) In the except method, use pd.read_csv() in order to upload the dataframe under the file path: 'moved_project_sql_result_04.csv'.
6) Assign the code to dropoff_location in order to save the result and create the dataframe.
7) Use the head() method in order to print out the first five lines of the company_trips dataframe.

Code Result:
The dropoff_location dataframe was created successfully.

In [108]:
try:
    dropoff_location = pd.read_csv('/datasets/project_sql_result_04.csv')
except:
    dropoff_location = pd.read_csv('moved_project_sql_result_04.csv')

dropoff_location.head()

  dropoff_location_name  average_trips
0                  Loop   10727.466667
1           River North    9523.666667
2         Streeterville    6664.666667
3             West Loop    5163.666667
4                O'Hare    2546.900000

Code Meaning:
1) Use the try method in order to create a file path that uploads the dataframe in a non-local computer.
2) In the try method, use pd.read_csv() in order to upload the dataframe under the file path: '/datasets/project_sql_result_07.csv'.
3) Assign the code to weather_conditions in order to save the result and create the dataframe.
4) Use the except method in order to create a file path that uploads the dataframe in my local computer.
5) In the except method, use pd.read_csv() in order to upload the dataframe under the file path: 'moved_project_sql_result_07 (2).csv'.
6) Assign the code to weather_conditions in order to save the result and create the dataframe.
7) Use the head() method in order to print out the first five lines of the company_trips dataframe.

Code Result:
The weather_conditions dataframe was created successfully.

In [109]:
try:
    weather_conditions = pd.read_csv('/datasets/project_sql_result_07.csv')
except:
    weather_conditions = pd.read_csv('moved_project_sql_result_07 (2).csv')

weather_conditions.head()

              start_ts weather_conditions  duration_seconds
0  2017-11-25 16:00:00               Good            2410.0
1  2017-11-25 14:00:00               Good            1920.0
2  2017-11-25 12:00:00               Good            1543.0
3  2017-11-04 10:00:00               Good            2512.0
4  2017-11-11 07:00:00               Good            1440.0

# Checking Data Types

Code Meaning:
1) Use the info() method on weather_records dataframe in order to check the datatypes in each column.

Code Result:
The temperature and description columns have the correct datatypes, but the date_and_time column needs to be converted from object data type to datetime64[ns] datatype.

In [110]:
weather_records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 697 entries, 0 to 696
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date_and_time  697 non-null    object
 1   temperature    697 non-null    object
 2   description    697 non-null    object
dtypes: object(3)
memory usage: 16.5+ KB

Code Meaning:
1) Use the pd.to_datetime() function in order to convert the date_and_time column of the weather_records dataframe from object to datetime64[ns].
2) Set the format parameter to: '%Y-%m-%d %H:%M:%S', in order to display the date and time correctly.
3) Assign the code to weather_records['date_and_time'] in order to save the result.

In [111]:
weather_records['date_and_time'] = pd.to_datetime(weather_records['date_and_time'], format='%Y-%m-%d %H:%M:%S')

Code Meaning:
1) Use the info() method in order to recheck the datatypes in the columns of the weather_records dataframe.

Code Result:
1) The date_and_time column of the weather_records dataframe was converted to datetime64[ns] successfully.

In [112]:
weather_records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 697 entries, 0 to 696
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date_and_time  697 non-null    datetime64[ns]
 1   temperature    697 non-null    object
 2   description    697 non-null    object
dtypes: datetime64[ns](1), object(2)
memory usage: 16.5+ KB

Code Meaning:
1) Use the info() method in order to check the data types in the columns of the company_trips dataframe.

Code Result:
1) The columns in the company_name dataframe have the appropriate data types.

In [113]:
company_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_name  64 non-null     object
 1   trips_amount  64 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

Code Meaning:
1) Use the info() method in order to check the data types in the columns of the dropoff_location dataframe.

Code Result:
1) The columns in the dropoff_location dataframe have the appropriate data types.

In [115]:
dropoff_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   dropoff_location_name  94 non-null     object
 1   average_trips          94 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.6+ KB

Code Meaning:
1) Use the info() method on weather_conditions dataframe in order to check the datatypes in each column.

Code Result:
The temperature and description columns have the correct datatypes, but the start_ts column needs to be converted from object data type to datetime64[ns] datatype.

In [116]:
weather_conditions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   start_ts            1068 non-null   object
 1   weather_conditions  1068 non-null   object
 2   duration_seconds    1068 non-null   float64
dtypes: float64(1), object(2)
memory usage: 25.2+ KB

Code Meaning:
1) Use the pd.to_datetime() function in order to convert the start_ts column of the weather_conditions dataframe from object to datetime64[ns].
2) Set the format parameter to: '%Y-%m-%d %H:%M:%S', in order to display the date and time correctly.
3) Assign the code to weather_conditions['start_ts'] in order to save the result.

In [117]:
weather_conditions['start_ts'] = pd.to_datetime(weather_conditions['start_ts'], format='%Y-%m-%d %H:%M:%S')

Code Meaning:
1) Use the info() method in order to recheck the datatypes in the columns of the weather_conditions dataframe.

Code Result:
1) The start_ts column of the weather_conditions dataframe was converted to datetime64[ns] successfully.

In [118]:
weather_conditions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   start_ts            1068 non-null   datetime64[ns]
 1   weather_conditions  1068 non-null   object
 2   duration_seconds    1068 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 25.2+ KB

# Checking For Duplicates

Code Meaning:
1) Use the duplicated() and sum() methods in order to count duplicate values in the weather_records dataframe.

Code Result:
There are no duplicate values noted in the weather_records dataframe.

In [119]:
weather_records.duplicated().sum()

0

Code Meaning:
1) Use the duplicated() and sum() methods in order to count duplicate values in the company_trips dataframe.

Code Result:
There are no duplicate values noted in the company_trips dataframe.

In [120]:
company_trips.duplicated().sum()

0

Code Meaning:
1) Use the duplicated() and sum() methods in order to count duplicate values in the dropoff_location dataframe.

Code Result:
There are no duplicate values noted in the dropoff_location dataframe.

In [121]:
dropoff_location.duplicated().sum()

0

Code Meaning:
1) Use the duplicated() and sum() methods in order to count duplicate values in the weather_conditions dataframe.

Code Result:
There are 197 duplicate values noted in the weather_conditions dataframe.

In [122]:
weather_conditions.duplicated().sum()

197

Code Meaning:
1) Use the drop_duplicates method in order to drop the duplicate values from the weather_conditions dataframe.
2) Set the inplace parameter to True in order to save the result.
3) Use the duplicated() and the sum() methods in order to count the number of duplicate values in the weather_conditions column once again.

Code Result:
There are no more duplicate values noted in the weather_conditions dataframe.

In [143]:
weather_conditions.drop_duplicates(inplace=True)

weather_conditions.duplicated().sum()

0

# Checking For Missing Values

Code Meaning:
1) Use the isna() and sum() methods in order to count the number of missing values in each column of the weather_records dataframe.

Code Result:
There are no missing values noted in the weather_records dataframe.

In [125]:
weather_records.isna().sum()

date_and_time    0
temperature      0
description      0
dtype: int64

Code Meaning:
1) Use the isna() and sum() methods in order to count the number of missing values in each column of the company_trips dataframe.

Code Result:
There are no missing values noted in the company_trips dataframe.

In [126]:
company_trips.isna().sum()

company_name    0
trips_amount    0
dtype: int64

Code Meaning:
1) Use the isna() and sum() methods in order to count the number of missing values in each column of the dropoff_location dataframe.

Code Result:
There are no missing values noted in the dropoff_location dataframe.

In [127]:
dropoff_location.isna().sum()

dropoff_location_name    0
average_trips            0
dtype: int64

Code Meaning:
1) Use the isna() and sum() methods in order to count the number of missing values in each column of the weather_conditions dataframe.

Code Result:
There are no missing values noted in the weather_conditions dataframe.

In [128]:
weather_conditions.isna().sum()

start_ts              0
weather_conditions    0
duration_seconds      0
dtype: int64

In [129]:
c_sum = company_trips.groupby('company_name')['trips_amount'].sum()
c_sum = c_sum.reset_index().rename(columns={'trips_amount': 'trips_amount_sum'})
c_sum = c_sum.sort_values(by='trips_amount_sum', ascending=False)

c_sum.head(10)

                         company_name  trips_amount_sum
45                          Flash Cab             19558
61          Taxi Affiliation Services             11422
50                   Medallion Leasin             10367
63                         Yellow Cab              9888
60    Taxi Affiliation Service Yellow              9299
36          Chicago Carriage Cab Corp              9181
43                       City Service              8448
59                           Sun Taxi              7701
58          Star North Management LLC              7455
33  Blue Ribbon Taxi Association Inc.              5953

In [130]:
company = 'Flash Cab', 'Taxi Affiliation Services', 'Medallion Leasin', 'Yellow Cab', 'Taxi Affiliation Service Yellow', 'Chicago Carriage Cab Corp', 'City Service', 'Sun Taxi', 'Star North Management LLC', 'Blue Ribbon Taxi Association Inc.'

c_trip = c_sum['company_name'].isin(company)

c_trips = c_sum[c_trip]

c_trips.head()

                       company_name  trips_amount_sum
45                        Flash Cab             19558
61        Taxi Affiliation Services             11422
50                 Medallion Leasin             10367
63                       Yellow Cab              9888
60  Taxi Affiliation Service Yellow              9299

In [131]:
company_bar = px.bar(c_trips, x='company_name', y='trips_amount_sum', color='company_name', labels={'company_name': 'Company Name', 'trips_amount_sum': 'Trips Amount Sum'}, title='Number of Rides Per Taxi Company')
company_bar.show()

# identify the top 10 neighborhoods in terms of drop-offs

In [132]:
top_n_sum = dropoff_location.groupby('dropoff_location_name')['average_trips'].sum()
top_n_sum = top_n_sum.reset_index().rename(columns={'average_trips': 'average_trips_sum'})
top_n_sum = top_n_sum.sort_values(by='average_trips_sum', ascending=False)
top_n_sum.head(10)

   dropoff_location_name  average_trips_sum
50                  Loop       10727.466667
68           River North        9523.666667
78         Streeterville        6664.666667
87             West Loop        5163.666667
63                O'Hare        2546.900000
44             Lake View        2420.966667
35            Grant Park        2068.533333
56         Museum Campus        1510.000000
32            Gold Coast        1364.233333
74    Sheffield & DePaul        1259.766667

In [133]:
location = 'Loop', 'River North', 'Streeterville', 'West Loop', "O'Hare", 'Lake View', 'Grant Park', 'Museum Campus', 'Gold Coast', 'Sheffield & DePaul'

top_10 = top_n_sum['dropoff_location_name'].isin(location)

top_10_df = top_n_sum[top_10]

top_10_df.head(10)

   dropoff_location_name  average_trips_sum
50                  Loop       10727.466667
68           River North        9523.666667
78         Streeterville        6664.666667
87             West Loop        5163.666667
63                O'Hare        2546.900000
44             Lake View        2420.966667
35            Grant Park        2068.533333
56         Museum Campus        1510.000000
32            Gold Coast        1364.233333
74    Sheffield & DePaul        1259.766667

In [134]:
top_10_bar = px.bar(top_10_df, x='dropoff_location_name', y='average_trips_sum', labels={'dropoff_location_name': 'Dropoff Location Name', 'average_trips_sum': 'Average Trips Sum'},title='Top 10 Neighborhoods in Terms of Dropoffs', color='dropoff_location_name')

top_10_bar.show()

Hypothesis Question
"The average duration of rides from the Loop to O'Hare International Airport changes on rainy Saturdays."
Filter bad.
1 population is good and 1 population is bad and you test the hypothesis.
calculated the variance, calculate standard deviation.

Null Hypothesis:
The average duration of rides from the Loop to O'Hare International Airport does not change on rainy Saturdays.

Alternate Hypothesis:
The average duration of rides from the Loop to O'Hare International Airport changes on rainy Saturdays.

In [135]:
weather_conditions.head()

             start_ts weather_conditions  duration_seconds
0 2017-11-25 16:00:00               Good            2410.0
1 2017-11-25 14:00:00               Good            1920.0
2 2017-11-25 12:00:00               Good            1543.0
3 2017-11-04 10:00:00               Good            2512.0
4 2017-11-11 07:00:00               Good            1440.0

In [136]:
good = weather_conditions[weather_conditions['weather_conditions'] == 'Good']

In [137]:
bad = weather_conditions[weather_conditions['weather_conditions'] == 'Bad']

In [138]:
np.var(bad['duration_seconds'])

561003.0958729

In [139]:
np.var(good['duration_seconds'])

597389.5417434272

In [140]:
np.std(bad['duration_seconds'])

749.0013991127787

In [141]:
np.std(good['duration_seconds'])

772.9097888779952

df_alpha = 0.05 
df_results = st.ttest_ind(action_yr_df['user_score'], sports_yr_df['user_score'], equal_var=False)

print('pvalue: ', df_results.pvalue)
if results.pvalue < alpha:
    print("We reject null hypothesis.")
else:
    print("We cannot reject null hypothesis.")

In [142]:
alpha = 0.05
results = st.ttest_ind(bad['duration_seconds'], good['duration_seconds'], equal_var=False)

print('pvalue:', results.pvalue)
if results.pvalue < alpha:
    print("We reject null hypothesis")
else:
    print("We cannot reject null hypothesis.")

pvalue: 9.126383933880083e-08
We reject null hypothesis