In [196]:
import requests

import pandas as pd

from bs4 import BeautifulSoup

import sqlite3

import numpy as np

import plotly.express as px

import sqlite3


#df = ...

sqlite_connection = sqlite3.connect('db_name.db')

df.to_sql('table_name', con=sqlite_connection, index=False, if_exists='replace')

In [197]:
URL = 'https://practicum-content.s3.us-west-1.amazonaws.com/data-analyst-eng/moved_chicago_weather_2017.html'

In [198]:
req = requests.get(URL)

In [199]:
soup = BeautifulSoup(req.text, 'lxml')

In [200]:
table = soup.find('table', attrs={"id": "weather_records"})

In [201]:
headers = [header.text for header in table.find_all('th')]

In [202]:
rows = []
for row in table.find_all('tr'):
    cells = row.find_all('td')
    if len(cells) > 0:
        rows.append([cell.text for cell in cells])

weather_records = pd.DataFrame(rows, columns=headers)

In [203]:
weather_records = pd.DataFrame(rows, columns=headers)

weather_records.head()

         Date and time Temperature       Description
0  2017-11-01 00:00:00     276.150     broken clouds
1  2017-11-01 01:00:00     275.700  scattered clouds
2  2017-11-01 02:00:00     275.610   overcast clouds
3  2017-11-01 03:00:00     275.350     broken clouds
4  2017-11-01 04:00:00     275.240     broken clouds

In [204]:
weather_records = weather_records.rename(columns={'Date and time' : 'date_and_time', 'Temperature': 'temperature', 'Description': 'description'})

weather_records.head()

         date_and_time temperature       description
0  2017-11-01 00:00:00     276.150     broken clouds
1  2017-11-01 01:00:00     275.700  scattered clouds
2  2017-11-01 02:00:00     275.610   overcast clouds
3  2017-11-01 03:00:00     275.350     broken clouds
4  2017-11-01 04:00:00     275.240     broken clouds

import sqlite3



sqlite_connection = sqlite3.connect('db_name.db')

df.to_sql('table_name', con=sqlite_connection, index=False, if_exists='replace')

sqlite_connection = sqlite3.connect('db_weather.db')

weather_records.to_sql('weather_records', con=sqlite_connection, index=False, if_exists='replace')

pd.read_sql("""

SELECT *
FROM population 
LIMIT 10

""", sqlite_connection)

Example:
broken_clouds = pd.read_sql(""" SELECT * FROM weather_records WHERE description='broken clouds'""", sqlite_connection)

In [205]:
weather_records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 697 entries, 0 to 696
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date_and_time  697 non-null    object
 1   temperature    697 non-null    object
 2   description    697 non-null    object
dtypes: object(3)
memory usage: 16.5+ KB

In [206]:
weather_records.isna().sum()

date_and_time    0
temperature      0
description      0
dtype: int64

In [207]:
weather_records.duplicated().sum()

0

In [208]:
weather_records.shape

(697, 3)

In [209]:
cabs = pd.read_csv('moved_project_sql_result_01.csv')

cabs.head()

                      company_name  trips_amount
0                        Flash Cab         19558
1        Taxi Affiliation Services         11422
2                 Medallion Leasin         10367
3                       Yellow Cab          9888
4  Taxi Affiliation Service Yellow          9299

sqlite_connection_2 = sqlite3.connect('db_company.db')

company_df.to_sql('company', con=sqlite_connection, index=False, if_exists='replace')

In [210]:
#sqlite_connection_2.execute("ATTACH DATABASE db_weather.db AS db_weather.db")

In [211]:
cabs.duplicated().sum()

0

In [212]:
cabs.isna().sum()

company_name    0
trips_amount    0
dtype: int64

In [213]:
cabs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_name  64 non-null     object
 1   trips_amount  64 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

Find the number of taxi rides for each taxi company for November 15-16, 2017. Name the resulting field trips_amount and print it along with the company_name field. Sort the results by the trips_amount field in descending order.

SELECT 
    COUNT(company_name) AS trips_amount,
    company_name AS company_name
WHERE 
    CAST(date) AS date IS BETWEEN November 15, 2017 AND November 16 2017
GROUP BY
    trips_amount
ORDER BY
    DESC;

In [214]:
cabs.head()

                      company_name  trips_amount
0                        Flash Cab         19558
1        Taxi Affiliation Services         11422
2                 Medallion Leasin         10367
3                       Yellow Cab          9888
4  Taxi Affiliation Service Yellow          9299

Example:
broken_clouds = pd.read_sql(""" SELECT * FROM weather_records WHERE description='broken clouds'""", sqlite_connection)

Find the number of rides for every taxi company whose name contains the words "Yellow" or "Blue" for November 1-7, 2017. Name the resulting variable trips_amount. Group the results by the company_name field.

SELECT 
    COUNT(trips_amount) AS trips_amount
WHERE Date and time as date IS BETWEEN NOVEMBER 1, 2017 AND NOVEMBER 17, 2017 
AND name LIKE '%yellow%' OR '%blue%'
GROUP BY
    company_name;

In [215]:
cabs.head()

                      company_name  trips_amount
0                        Flash Cab         19558
1        Taxi Affiliation Services         11422
2                 Medallion Leasin         10367
3                       Yellow Cab          9888
4  Taxi Affiliation Service Yellow          9299

In [216]:
cabs['trips_amount'] = cabs['trips_amount'].astype(int)

In [217]:
cabs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_name  64 non-null     object
 1   trips_amount  64 non-null     int32
dtypes: int32(1), object(1)
memory usage: 900.0+ bytes

In [218]:
#pd.read_sql(""" SELECT COUNT(date_and_time) FROM weather_records WHERE date_and_time )

In November 2017, the most popular taxi companies were Flash Cab and Taxi Affiliation Services. Find the number of rides for these two companies and name the resulting variable trips_amount. Join the rides for all other companies in the group "Other." Group the data by taxi company names. Name the field with taxi company names company. Sort the result in descending order by trips_amount.

SELECT 
    COUNT(trips_amount) AS trips_amount,
WHERE 
    date = NOV 2017 AND name LIKE '%Flash Cab%' OR '%Taxi Affilation Services%
GROUP BY 
    company_name
ORDER BY
    trips_amount DESC;

In [219]:
neighborhoods = pd.read_csv('moved_project_sql_result_04.csv')

neighborhoods.head()

  dropoff_location_name  average_trips
0                  Loop   10727.466667
1           River North    9523.666667
2         Streeterville    6664.666667
3             West Loop    5163.666667
4                O'Hare    2546.900000

sqlite_connection_3 = sqlite3.connect('db_neighborhood.db')

neighborhood_df.to_sql('neighborhood', con=sqlite_connection, index=False, if_exists='replace')

In [220]:
neighborhoods.isna().sum()

dropoff_location_name    0
average_trips            0
dtype: int64

In [221]:
neighborhoods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   dropoff_location_name  94 non-null     object
 1   average_trips          94 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.6+ KB

In [222]:
neighborhoods.duplicated().sum()

0

In [223]:
weather_records.head()

         date_and_time temperature       description
0  2017-11-01 00:00:00     276.150     broken clouds
1  2017-11-01 01:00:00     275.700  scattered clouds
2  2017-11-01 02:00:00     275.610   overcast clouds
3  2017-11-01 03:00:00     275.350     broken clouds
4  2017-11-01 04:00:00     275.240     broken clouds

In [224]:
weather_records.tail()

           date_and_time temperature   description
692  2017-11-29 20:00:00     281.340    few clouds
693  2017-11-29 21:00:00     281.690  sky is clear
694  2017-11-29 22:00:00     281.070    few clouds
695  2017-11-29 23:00:00     280.060  sky is clear
696  2017-11-30 00:00:00     278.460  sky is clear

In [225]:
weather_records = weather_records.reset_index(drop=True)

neighborhood_df = neighborhood_df.reset_index(drop=True)

company_df = company_df.reset_index(drop=True)

### Fix this table with left merge and left join (maybe)

In [226]:
merged_df = pd.concat([weather_records, neighborhoods, cabs], axis=1)

merged_df.head()

,date_and_time,temperature,description,dropoff_location_name,average_trips,company_name,trips_amount
0,2017-11-01 00:00:00,276.150,broken clouds,Loop,10727.466667,Flash Cab,19558.0
1,2017-11-01 01:00:00,275.700,scattered clouds,River North,9523.666667,Taxi Affiliation Services,11422.0
2,2017-11-01 02:00:00,275.610,overcast clouds,Streeterville,6664.666667,Medallion Leasin,10367.0
3,2017-11-01 03:00:00,275.350,broken clouds,West Loop,5163.666667,Yellow Cab,9888.0
4,2017-11-01 04:00:00,275.240,broken clouds,O'Hare,2546.900000,Taxi Affiliation Service Yellow,9299.0

In [227]:
merged_df.shape

(697, 7)

In [228]:
merged_df.isna().sum()

date_and_time              0
temperature                0
description                0
dropoff_location_name    603
average_trips            603
company_name             633
trips_amount             633
dtype: int64

In [229]:
merged_df = merged_df.dropna(subset=['dropoff_location_name'])

merged_df['dropoff_location_name'].isna().sum()

0

In [230]:
merged_df = merged_df.dropna(subset=['average_trips'])

merged_df['average_trips'].isna().sum()

0

In [231]:
merged_df = merged_df.dropna(subset=['company_name'])

merged_df['company_name'].isna().sum()

0

In [232]:
merged_df = merged_df.dropna(subset=['trips_amount'])

merged_df['trips_amount'].isna().sum()

0

In [233]:
merged_df.isna().sum()

date_and_time            0
temperature              0
description              0
dropoff_location_name    0
average_trips            0
company_name             0
trips_amount             0
dtype: int64

In [234]:
merged_df.duplicated().sum()

0

In [235]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64 entries, 0 to 63
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date_and_time          64 non-null     object
 1   temperature            64 non-null     object
 2   description            64 non-null     object
 3   dropoff_location_name  64 non-null     object
 4   average_trips          64 non-null     float64
 5   company_name           64 non-null     object
 6   trips_amount           64 non-null     float64
dtypes: float64(2), object(5)
memory usage: 4.0+ KB

In [236]:
merged_df['date_and_time'].head(20)

0     2017-11-01 00:00:00
1     2017-11-01 01:00:00
2     2017-11-01 02:00:00
3     2017-11-01 03:00:00
4     2017-11-01 04:00:00
5     2017-11-01 05:00:00
6     2017-11-01 06:00:00
7     2017-11-01 07:00:00
8     2017-11-01 08:00:00
9     2017-11-01 09:00:00
10    2017-11-01 10:00:00
11    2017-11-01 11:00:00
12    2017-11-01 12:00:00
13    2017-11-01 13:00:00
14    2017-11-01 14:00:00
15    2017-11-01 15:00:00
16    2017-11-01 16:00:00
17    2017-11-01 17:00:00
18    2017-11-01 18:00:00
19    2017-11-01 19:00:00
Name: date_and_time, dtype: object

In [237]:
merged_df['date_and_time'] = pd.to_datetime(merged_df['date_and_time'], format='%Y-%m-%d %H:%M:%S')

In [238]:
merged_df['temperature'] = pd.to_numeric(merged_df['temperature'], errors='coerce')

In [239]:
merged_df['average_trips'] = merged_df['average_trips'].astype(int)

In [240]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64 entries, 0 to 63
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date_and_time          64 non-null     datetime64[ns]
 1   temperature            64 non-null     float64
 2   description            64 non-null     object
 3   dropoff_location_name  64 non-null     object
 4   average_trips          64 non-null     int32
 5   company_name           64 non-null     object
 6   trips_amount           64 non-null     float64
dtypes: datetime64[ns](1), float64(2), int32(1), object(3)
memory usage: 3.8+ KB

sqlite_connection = sqlite3.connect('db_weather.db')

weather_records.to_sql('weather_records', con=sqlite_connection, index=False, if_exists='replace')

In [241]:
sqlite_connection = sqlite3.connect('db_merged.db')

merged_df.to_sql('merged', con=sqlite_connection, index=False, if_exists='replace')

64

In [242]:
merged_df.head()

,date_and_time,temperature,description,dropoff_location_name,average_trips,company_name,trips_amount
0,2017-11-01 00:00:00,276.15,broken clouds,Loop,10727,Flash Cab,19558.0
1,2017-11-01 01:00:00,275.70,scattered clouds,River North,9523,Taxi Affiliation Services,11422.0
2,2017-11-01 02:00:00,275.61,overcast clouds,Streeterville,6664,Medallion Leasin,10367.0
3,2017-11-01 03:00:00,275.35,broken clouds,West Loop,5163,Yellow Cab,9888.0
4,2017-11-01 04:00:00,275.24,broken clouds,O'Hare,2546,Taxi Affiliation Service Yellow,9299.0

Find the number of taxi rides for each taxi company for November 15-16, 2017. Name the resulting field trips_amount and print it along with the company_name field. Sort the results by the trips_amount field in descending order.

In [243]:
pd.read_sql(""" SELECT company_name FROM merged WHERE date_and_time BETWEEN '2017-11-15 00:00:00' AND '2017-11-20 11:59:59';""", sqlite_connection)

Empty DataFrame
Columns: [company_name]
Index: []

In [244]:
pd.read_sql("""SELECT * FROM merged WHERE date_and_time BETWEEN '2017-11-01' AND '2017-11-16'""", sqlite_connection)

,date_and_time,temperature,description,dropoff_location_name,average_trips,company_name,trips_amount
0,2017-11-01 00:00:00,276.15,broken clouds,Loop,10727,Flash Cab,19558.0
1,2017-11-01 01:00:00,275.70,scattered clouds,River North,9523,Taxi Affiliation Services,11422.0
2,2017-11-01 02:00:00,275.61,overcast clouds,Streeterville,6664,Medallion Leasin,10367.0
3,2017-11-01 03:00:00,275.35,broken clouds,West Loop,5163,Yellow Cab,9888.0
4,2017-11-01 04:00:00,275.24,broken clouds,O'Hare,2546,Taxi Affiliation Service Yellow,9299.0
...,...,...,...,...,...,...,...
59,2017-11-03 11:00:00,278.22,overcast clouds,Chatham,23,4053 - 40193 Adwar H. Nikola,7.0
60,2017-11-03 12:00:00,277.68,overcast clouds,New City,22,2733 - 74600 Benny Jona,7.0
61,2017-11-03 13:00:00,277.32,overcast clouds,Grand Crossing,22,5874 - 73628 Sergey Cab Corp.,5.0
62,2017-11-03 14:00:00,277.68,mist,Brighton Park,19,"2241 - 44667 - Felman Corp, Manuel Alonso",3.0
63,2017-11-03 15:00:00,278.32,overcast clouds,Andersonville,16,3556 - 36214 RC Andrews Cab,2.0

Find the number of rides for every taxi company whose name contains the words "Yellow" or "Blue" for November 1-7, 2017. Name the resulting variable trips_amount. Group the results by the company_name field.

In [245]:
#pd.read_sql("""SELECT company_name AS company_name, COUNT(trips_amount) AS trips_amount FROM merged WHERE company_name LIKE '%Yellow%' OR company_name LIKE '%Blue%, GROUP BY company_name;""", sqlite_connection)

Step 4. Exploratory data analysis (Python)

In [246]:
merged_df.head()

,date_and_time,temperature,description,dropoff_location_name,average_trips,company_name,trips_amount
0,2017-11-01 00:00:00,276.15,broken clouds,Loop,10727,Flash Cab,19558.0
1,2017-11-01 01:00:00,275.70,scattered clouds,River North,9523,Taxi Affiliation Services,11422.0
2,2017-11-01 02:00:00,275.61,overcast clouds,Streeterville,6664,Medallion Leasin,10367.0
3,2017-11-01 03:00:00,275.35,broken clouds,West Loop,5163,Yellow Cab,9888.0
4,2017-11-01 04:00:00,275.24,broken clouds,O'Hare,2546,Taxi Affiliation Service Yellow,9299.0

In [247]:
merged_df['dropoff_location_name'].sort_values().unique()

array(['Albany Park', 'Andersonville', 'Armour Square', 'Austin',
       'Avondale', 'Belmont Cragin', 'Boystown', 'Bridgeport',
       'Brighton Park', 'Bucktown', 'Chatham', 'Chinatown', 'Douglas',
       'Dunning', 'East Village', 'Edgewater', 'Englewood',
       'Garfield Park', 'Garfield Ridge', 'Gold Coast', 'Grand Boulevard',
       'Grand Crossing', 'Grant Park', 'Hermosa', 'Humboldt Park',
       'Hyde Park', 'Irving Park', 'Jackson Park', 'Jefferson Park',
       'Kenwood', 'Lake View', 'Lincoln Park', 'Lincoln Square',
       'Little Italy, UIC', 'Little Village', 'Logan Square', 'Loop',
       'Lower West Side', 'Mckinley Park', 'Museum Campus',
       'Near South Side', 'New City', 'North Center', 'North Lawndale',
       'North Park', 'Norwood Park', "O'Hare", 'Old Town', 'Portage Park',
       'River North', 'Rogers Park', 'Rush & Division',
       'Sauganash,Forest Glen', 'Sheffield & DePaul', 'South Shore',
       'Streeterville', 'Ukrainian Village', 'United Center', 'Uptown',
       'West Loop', 'West Ridge', 'West Town', 'Wicker Park', 'Woodlawn'],
      dtype=object)

In [248]:
c_sum = merged_df.groupby('company_name')['trips_amount'].sum()
c_sum = c_sum.reset_index().rename(columns={'trips_amount': 'trips_amount_sum'})
c_sum = c_sum.sort_values(by='trips_amount_sum', ascending=False)

c_sum.head()

                       company_name  trips_amount_sum
45                        Flash Cab           19558.0
61        Taxi Affiliation Services           11422.0
50                 Medallion Leasin           10367.0
63                       Yellow Cab            9888.0
60  Taxi Affiliation Service Yellow            9299.0

In [249]:
merged_df['company_name'].unique()

array(['Flash Cab', 'Taxi Affiliation Services', 'Medallion Leasin',
       'Yellow Cab', 'Taxi Affiliation Service Yellow',
       'Chicago Carriage Cab Corp', 'City Service', 'Sun Taxi',
       'Star North Management LLC', 'Blue Ribbon Taxi Association Inc.',
       'Choice Taxi Association', 'Globe Taxi',
       'Dispatch Taxi Affiliation', 'Nova Taxi Affiliation Llc',
       'Patriot Taxi Dba Peace Taxi Associat', 'Checker Taxi Affiliation',
       'Blue Diamond', 'Chicago Medallion Management', '24 Seven Taxi',
       'Chicago Medallion Leasing INC', 'Checker Taxi', 'American United',
       'Chicago Independents', 'KOAM Taxi Association', 'Chicago Taxicab',
       'Top Cab Affiliation', 'Gold Coast Taxi',
       'Service Taxi Association', '5 Star Taxi', '303 Taxi',
       'Setare Inc', 'American United Taxi Affiliation', 'Leonard Cab Co',
       'Metro Jet Taxi A', 'Norshore Cab', '6742 - 83735 Tasha ride inc',
       '3591 - 63480 Chuks Cab', '1469 - 64126 Omar Jada',
       '6743 - 78771 Luhak Corp', '0118 - 42111 Godfrey S.Awir',
       '6574 - Babylon Express Inc.', 'Chicago Star Taxicab',
       '1085 - 72312 N and W Cab Co', '2809 - 95474 C & D Cab Co Inc.',
       '2092 - 61288 Sbeih company', '3011 - 66308 JBL Cab Inc.',
       '3620 - 52292 David K. Cab Corp.', '4615 - 83503 Tyrone Henderson',
       '3623 - 72222 Arrington Enterprises', '5074 - 54002 Ahzmi Inc',
       '2823 - 73307 Lee Express Inc', '4623 - 27290 Jay Kim',
       '3721 - Santamaria Express, Alvaro Santamaria',
       '5006 - 39261 Salifu Bawa', '2192 - 73487 Zeymane Corp',
       '6057 - 24657 Richard Addo', '5997 - 65283 AW Services Inc.',
       'Metro Group', '5062 - 34841 Sam Mestas',
       '4053 - 40193 Adwar H. Nikola', '2733 - 74600 Benny Jona',
       '5874 - 73628 Sergey Cab Corp.',
       '2241 - 44667 - Felman Corp, Manuel Alonso',
       '3556 - 36214 RC Andrews Cab'], dtype=object)

In [250]:
company = 'Flash Cab', 'Yellow Cab', 'Taxi Affiliation Services', 'Choice Taxi Association', 'Sun Taxi', 'Blue Diamond', 'Top Cab Affiliation', ' Gold Coast Taxi', 'Service Taxi Association', '5 Star Taxi', '303 Taxi'

c_trip = c_sum['company_name'].isin(company)

c_trips = c_sum[c_trip]

c_trips.head()

                 company_name  trips_amount_sum
45                  Flash Cab           19558.0
61  Taxi Affiliation Services           11422.0
63                 Yellow Cab            9888.0
59                   Sun Taxi            7701.0
42    Choice Taxi Association            5015.0

In [260]:
company_bar = px.bar(c_trips, x='company_name', y='trips_amount_sum', color='company_name', labels={'company_name': 'Company Name', 'trips_amount_sum': 'Trips Amount Sum'}, title='Number of Rides Per Taxi Company')
company_bar.show()

# identify the top 10 neighborhoods in terms of drop-offs

In [251]:
top_n_sum = merged_df.groupby('dropoff_location_name')['average_trips'].sum()
top_n_sum = top_n_sum.reset_index().rename(columns={'average_trips': 'average_trips_sum'})
top_n_sum = top_n_sum.sort_values(by='average_trips_sum', ascending=False)
top_n_sum.head(10)

   dropoff_location_name  average_trips_sum
36                  Loop              10727
49           River North               9523
55         Streeterville               6664
59             West Loop               5163
46                O'Hare               2546
30             Lake View               2420
22            Grant Park               2068
39         Museum Campus               1510
19            Gold Coast               1364
53    Sheffield & DePaul               1259

In [252]:
location = 'Loop', 'River North', 'Streeterville', 'West Loop', "O'Hare", 'Lake View', 'Grant Park', 'Museum Campus', 'Gold Coast', 'Sheffield & DePaul'

top_10 = top_n_sum['dropoff_location_name'].isin(location)

top_10_df = top_n_sum[top_10]

top_10_df.head(10)

   dropoff_location_name  average_trips_sum
36                  Loop              10727
49           River North               9523
55         Streeterville               6664
59             West Loop               5163
46                O'Hare               2546
30             Lake View               2420
22            Grant Park               2068
39         Museum Campus               1510
19            Gold Coast               1364
53    Sheffield & DePaul               1259

In [253]:
top_10_bar = px.bar(top_10_df, x='dropoff_location_name', y='average_trips_sum', labels={'dropoff_location_name': 'Dropoff Location Name', 'average_trips_sum': 'Average Trips Sum'},title='Top 10 Neighborhoods in Terms of Dropoffs', color='dropoff_location_name')

top_10_bar.show()

In [254]:
top_n_sum['dropoff_location_name'].unique()

array(['Loop', 'River North', 'Streeterville', 'West Loop', "O'Hare",
       'Lake View', 'Grant Park', 'Museum Campus', 'Gold Coast',
       'Sheffield & DePaul', 'Lincoln Park', 'East Village',
       'Little Italy, UIC', 'Uptown', 'Near South Side', 'Garfield Ridge',
       'Logan Square', 'Edgewater', 'West Town', 'Old Town',
       'Rush & Division', 'North Center', 'Lincoln Square', 'Rogers Park',
       'West Ridge', 'Irving Park', 'Hyde Park', 'Avondale',
       'Wicker Park', 'Albany Park', 'United Center', 'Lower West Side',
       'Douglas', 'Portage Park', 'Humboldt Park', 'Norwood Park',
       'Kenwood', 'Armour Square', 'Bridgeport', 'Bucktown',
       'Jefferson Park', 'North Park', 'Garfield Park', 'Mckinley Park',
       'Belmont Cragin', 'Boystown', 'Chinatown', 'Grand Boulevard',
       'Austin', 'Sauganash,Forest Glen', 'South Shore', 'Woodlawn',
       'Little Village', 'Jackson Park', 'North Lawndale', 'Dunning',
       'Ukrainian Village', 'Hermosa', 'Englewood', 'Chatham', 'New City',
       'Grand Crossing', 'Brighton Park', 'Andersonville'], dtype=object)

In [255]:
merged_df.head()

,date_and_time,temperature,description,dropoff_location_name,average_trips,company_name,trips_amount
0,2017-11-01 00:00:00,276.15,broken clouds,Loop,10727,Flash Cab,19558.0
1,2017-11-01 01:00:00,275.70,scattered clouds,River North,9523,Taxi Affiliation Services,11422.0
2,2017-11-01 02:00:00,275.61,overcast clouds,Streeterville,6664,Medallion Leasin,10367.0
3,2017-11-01 03:00:00,275.35,broken clouds,West Loop,5163,Yellow Cab,9888.0
4,2017-11-01 04:00:00,275.24,broken clouds,O'Hare,2546,Taxi Affiliation Service Yellow,9299.0

In [256]:
merged_df['company_name'].unique()

array(['Flash Cab', 'Taxi Affiliation Services', 'Medallion Leasin',
       'Yellow Cab', 'Taxi Affiliation Service Yellow',
       'Chicago Carriage Cab Corp', 'City Service', 'Sun Taxi',
       'Star North Management LLC', 'Blue Ribbon Taxi Association Inc.',
       'Choice Taxi Association', 'Globe Taxi',
       'Dispatch Taxi Affiliation', 'Nova Taxi Affiliation Llc',
       'Patriot Taxi Dba Peace Taxi Associat', 'Checker Taxi Affiliation',
       'Blue Diamond', 'Chicago Medallion Management', '24 Seven Taxi',
       'Chicago Medallion Leasing INC', 'Checker Taxi', 'American United',
       'Chicago Independents', 'KOAM Taxi Association', 'Chicago Taxicab',
       'Top Cab Affiliation', 'Gold Coast Taxi',
       'Service Taxi Association', '5 Star Taxi', '303 Taxi',
       'Setare Inc', 'American United Taxi Affiliation', 'Leonard Cab Co',
       'Metro Jet Taxi A', 'Norshore Cab', '6742 - 83735 Tasha ride inc',
       '3591 - 63480 Chuks Cab', '1469 - 64126 Omar Jada',
       '6743 - 78771 Luhak Corp', '0118 - 42111 Godfrey S.Awir',
       '6574 - Babylon Express Inc.', 'Chicago Star Taxicab',
       '1085 - 72312 N and W Cab Co', '2809 - 95474 C & D Cab Co Inc.',
       '2092 - 61288 Sbeih company', '3011 - 66308 JBL Cab Inc.',
       '3620 - 52292 David K. Cab Corp.', '4615 - 83503 Tyrone Henderson',
       '3623 - 72222 Arrington Enterprises', '5074 - 54002 Ahzmi Inc',
       '2823 - 73307 Lee Express Inc', '4623 - 27290 Jay Kim',
       '3721 - Santamaria Express, Alvaro Santamaria',
       '5006 - 39261 Salifu Bawa', '2192 - 73487 Zeymane Corp',
       '6057 - 24657 Richard Addo', '5997 - 65283 AW Services Inc.',
       'Metro Group', '5062 - 34841 Sam Mestas',
       '4053 - 40193 Adwar H. Nikola', '2733 - 74600 Benny Jona',
       '5874 - 73628 Sergey Cab Corp.',
       '2241 - 44667 - Felman Corp, Manuel Alonso',
       '3556 - 36214 RC Andrews Cab'], dtype=object)