In [247]:
import requests

import pandas as pd

from bs4 import BeautifulSoup

import sqlite3

import numpy as np

import plotly.express as px

import sqlite3


#df = ...

sqlite_connection = sqlite3.connect('db_name.db')

df.to_sql('table_name', con=sqlite_connection, index=False, if_exists='replace')

In [248]:
URL = 'https://practicum-content.s3.us-west-1.amazonaws.com/data-analyst-eng/moved_chicago_weather_2017.html'

In [249]:
req = requests.get(URL)

In [250]:
soup = BeautifulSoup(req.text, 'lxml')

In [251]:
table = soup.find('table', attrs={"id": "weather_records"})

In [252]:
headers = [header.text for header in table.find_all('th')]

In [253]:
rows = []
for row in table.find_all('tr'):
    cells = row.find_all('td')
    if len(cells) > 0:
        rows.append([cell.text for cell in cells])

weather_records = pd.DataFrame(rows, columns=headers)

In [254]:
weather_records = pd.DataFrame(rows, columns=headers)

weather_records.head()

         Date and time Temperature       Description
0  2017-11-01 00:00:00     276.150     broken clouds
1  2017-11-01 01:00:00     275.700  scattered clouds
2  2017-11-01 02:00:00     275.610   overcast clouds
3  2017-11-01 03:00:00     275.350     broken clouds
4  2017-11-01 04:00:00     275.240     broken clouds

In [255]:
weather_records = weather_records.rename(columns={'Date and time' : 'date_and_time', 'Temperature': 'temperature', 'Description': 'description'})

weather_records.head()

         date_and_time temperature       description
0  2017-11-01 00:00:00     276.150     broken clouds
1  2017-11-01 01:00:00     275.700  scattered clouds
2  2017-11-01 02:00:00     275.610   overcast clouds
3  2017-11-01 03:00:00     275.350     broken clouds
4  2017-11-01 04:00:00     275.240     broken clouds

In [256]:
weather_records['date_and_time'] = pd.to_datetime(weather_records['date_and_time'], format='%Y-%m-%d %H:%M:%S')

import sqlite3



sqlite_connection = sqlite3.connect('db_name.db')

df.to_sql('table_name', con=sqlite_connection, index=False, if_exists='replace')

sqlite_connection = sqlite3.connect('db_weather.db')

weather_records.to_sql('weather_records', con=sqlite_connection, index=False, if_exists='replace')

pd.read_sql("""

SELECT *
FROM population 
LIMIT 10

""", sqlite_connection)

Example:
broken_clouds = pd.read_sql(""" SELECT * FROM weather_records WHERE description='broken clouds'""", sqlite_connection)

In [257]:
weather_records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 697 entries, 0 to 696
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date_and_time  697 non-null    datetime64[ns]
 1   temperature    697 non-null    object
 2   description    697 non-null    object
dtypes: datetime64[ns](1), object(2)
memory usage: 16.5+ KB

In [258]:
weather_records.isna().sum()

date_and_time    0
temperature      0
description      0
dtype: int64

In [259]:
weather_records.duplicated().sum()

0

In [260]:
weather_records.shape

(697, 3)

In [261]:
cabs = pd.read_csv('moved_project_sql_result_01.csv')

cabs.head()

                      company_name  trips_amount
0                        Flash Cab         19558
1        Taxi Affiliation Services         11422
2                 Medallion Leasin         10367
3                       Yellow Cab          9888
4  Taxi Affiliation Service Yellow          9299

sqlite_connection_2 = sqlite3.connect('db_company.db')

company_df.to_sql('company', con=sqlite_connection, index=False, if_exists='replace')

In [262]:
#sqlite_connection_2.execute("ATTACH DATABASE db_weather.db AS db_weather.db")

In [263]:
cabs.duplicated().sum()

0

In [264]:
cabs.isna().sum()

company_name    0
trips_amount    0
dtype: int64

In [265]:
cabs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_name  64 non-null     object
 1   trips_amount  64 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

Find the number of taxi rides for each taxi company for November 15-16, 2017. Name the resulting field trips_amount and print it along with the company_name field. Sort the results by the trips_amount field in descending order.

SELECT 
    COUNT(company_name) AS trips_amount,
    company_name AS company_name
WHERE 
    CAST(date) AS date IS BETWEEN November 15, 2017 AND November 16 2017
GROUP BY
    trips_amount
ORDER BY
    DESC;

In [266]:
cabs.head()

                      company_name  trips_amount
0                        Flash Cab         19558
1        Taxi Affiliation Services         11422
2                 Medallion Leasin         10367
3                       Yellow Cab          9888
4  Taxi Affiliation Service Yellow          9299

Example:
broken_clouds = pd.read_sql(""" SELECT * FROM weather_records WHERE description='broken clouds'""", sqlite_connection)

Find the number of rides for every taxi company whose name contains the words "Yellow" or "Blue" for November 1-7, 2017. Name the resulting variable trips_amount. Group the results by the company_name field.

SELECT 
    COUNT(trips_amount) AS trips_amount
WHERE Date and time as date IS BETWEEN NOVEMBER 1, 2017 AND NOVEMBER 17, 2017 
AND name LIKE '%yellow%' OR '%blue%'
GROUP BY
    company_name;

In [267]:
cabs.head()

                      company_name  trips_amount
0                        Flash Cab         19558
1        Taxi Affiliation Services         11422
2                 Medallion Leasin         10367
3                       Yellow Cab          9888
4  Taxi Affiliation Service Yellow          9299

In [268]:
cabs['trips_amount'] = cabs['trips_amount'].astype(int)

In [269]:
cabs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_name  64 non-null     object
 1   trips_amount  64 non-null     int32
dtypes: int32(1), object(1)
memory usage: 900.0+ bytes

In [270]:
#pd.read_sql(""" SELECT COUNT(date_and_time) FROM weather_records WHERE date_and_time )

In November 2017, the most popular taxi companies were Flash Cab and Taxi Affiliation Services. Find the number of rides for these two companies and name the resulting variable trips_amount. Join the rides for all other companies in the group "Other." Group the data by taxi company names. Name the field with taxi company names company. Sort the result in descending order by trips_amount.

SELECT 
    COUNT(trips_amount) AS trips_amount,
WHERE 
    date = NOV 2017 AND name LIKE '%Flash Cab%' OR '%Taxi Affilation Services%
GROUP BY 
    company_name
ORDER BY
    trips_amount DESC;

In [271]:
trips = pd.read_csv('moved_project_sql_result_04.csv')

trips.head()

  dropoff_location_name  average_trips
0                  Loop   10727.466667
1           River North    9523.666667
2         Streeterville    6664.666667
3             West Loop    5163.666667
4                O'Hare    2546.900000

sqlite_connection_3 = sqlite3.connect('db_neighborhood.db')

neighborhood_df.to_sql('neighborhood', con=sqlite_connection, index=False, if_exists='replace')

In [272]:
trips.isna().sum()

dropoff_location_name    0
average_trips            0
dtype: int64

In [273]:
trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   dropoff_location_name  94 non-null     object
 1   average_trips          94 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.6+ KB

In [274]:
trips.duplicated().sum()

0

In [275]:
#sqlite_connection = sqlite3.connect('db_weather_records.db')

#weather_records.to_sql('weather', con='sqlite_connection', index=False, if_exists='replace')

In [276]:
#sqlite_connection_2 = sqlite3.connect('db_trips.db')

#trips.to_sql('trips', con=sqlite_connection_2, index=False, if_exists='replace')

In [277]:
#sqlite_connection_3 = sqlite3.connect('db_cabs.db')

#cabs.to_sql('cabs', con=sqlite_connection_3, index=False, if_exists='replace')

To merge multiple dataframes that do not have a common column, you'll need a different approach since a basic `merge` function won't work without a common key. One way to handle this is to create a new key that ensures uniqueness for each row in every dataframe. 

Here's a general approach using pandas:

```python
import pandas as pd

# Create unique keys for each dataframe
df1['key'] = range(1, len(df1) + 1)
df2['key'] = range(1, len(df2) + 1)
df3['key'] = range(1, len(df3) + 1)
df4['key'] = range(1, len(df4) + 1)

# Perform the left merges on the new key
merged_df = df1.merge(df2, on='key', how='left') \
               .merge(df3, on='key', how='left') \
               .merge(df4, on='key', how='left')

# Drop the key column if it's no longer needed
merged_df = merged_df.drop(columns=['key'])

print(merged_df)
```

### Steps in the code:
1. **Create Unique Keys**: Assign a unique key to each row in each dataframe. This can be done by creating a new column `key` with a range of numbers that match the length of each dataframe.
2. **Perform Left Merges**: Merge the dataframes one by one on the `key` column using a left join.
3. **Drop the `key` Column**: Optionally, remove the `key` column after the merge if it is no longer needed.

Would you like to try this method? If so, could you prepare a test snippet of your data so we can run through it together?

trips['key'] = range(1, len(trips) + 1)
cabs['key'] = range(1, len(cabs) + 1)
weather_records['key'] = range(1, len(weather_records) + 1)

merged_df = trips.merge(cabs, on='key', how='left')
merged_df = merged_df.merge(weather_records, on='key', how='left')

merged_df = merged_df.drop(columns=['key'])

merged_df.head()

In [279]:
merged_df.shape

(94, 7)

In [280]:
sqlite_connection = sqlite3.connect('db_merged.db')

merged_df.to_sql('merged', con=sqlite_connection, index=False, if_exists='replace')

94

Find the number of taxi rides for each taxi company for November 15-16, 2017. Name the resulting field trips_amount and print it along with the company_name field. Sort the results by the trips_amount field in descending order.

In [291]:
#pd.read_sql(""" SELECT company_name FROM merged WHERE date_and_time BETWEEN '2017-11-15 00:00:00' AND '2017-11-20 11:59:59';""", sqlite_connection)

Empty DataFrame
Columns: [company_name]
Index: []

In [282]:
#pd.read_sql("""SELECT * FROM merged WHERE date_and_time BETWEEN '2017-11-01' AND '2017-11-16'""", sqlite_connection)

Find the number of rides for every taxi company whose name contains the words "Yellow" or "Blue" for November 1-7, 2017. Name the resulting variable trips_amount. Group the results by the company_name field.

In [283]:
#pd.read_sql("""SELECT company_name AS company_name, COUNT(trips_amount) AS trips_amount FROM merged WHERE company_name LIKE '%Yellow%' OR company_name LIKE '%Blue%, GROUP BY company_name;""", sqlite_connection)

Step 4. Exploratory data analysis (Python)

In [284]:
c_sum = cabs.groupby('company_name')['trips_amount'].sum()
c_sum = c_sum.reset_index().rename(columns={'trips_amount': 'trips_amount_sum'})
c_sum = c_sum.sort_values(by='trips_amount_sum', ascending=False)

c_sum.head(10)

                         company_name  trips_amount_sum
45                          Flash Cab             19558
61          Taxi Affiliation Services             11422
50                   Medallion Leasin             10367
63                         Yellow Cab              9888
60    Taxi Affiliation Service Yellow              9299
36          Chicago Carriage Cab Corp              9181
43                       City Service              8448
59                           Sun Taxi              7701
58          Star North Management LLC              7455
33  Blue Ribbon Taxi Association Inc.              5953

In [285]:
company = 'Flash Cab', 'Taxi Affiliation Services', 'Medallion Leasin', 'Yellow Cab', 'Taxi Affiliation Service Yellow', 'Chicago Carriage Cab Corp', 'City Service', 'Sun Taxi', 'Star North Management LLC', 'Blue Ribbon Taxi Association Inc.'

c_trip = c_sum['company_name'].isin(company)

c_trips = c_sum[c_trip]

c_trips.head()

                       company_name  trips_amount_sum
45                        Flash Cab             19558
61        Taxi Affiliation Services             11422
50                 Medallion Leasin             10367
63                       Yellow Cab              9888
60  Taxi Affiliation Service Yellow              9299

In [286]:
company_bar = px.bar(c_trips, x='company_name', y='trips_amount_sum', color='company_name', labels={'company_name': 'Company Name', 'trips_amount_sum': 'Trips Amount Sum'}, title='Number of Rides Per Taxi Company')
company_bar.show()

# identify the top 10 neighborhoods in terms of drop-offs

In [287]:
top_n_sum = trips.groupby('dropoff_location_name')['average_trips'].sum()
top_n_sum = top_n_sum.reset_index().rename(columns={'average_trips': 'average_trips_sum'})
top_n_sum = top_n_sum.sort_values(by='average_trips_sum', ascending=False)
top_n_sum.head(10)

   dropoff_location_name  average_trips_sum
50                  Loop       10727.466667
68           River North        9523.666667
78         Streeterville        6664.666667
87             West Loop        5163.666667
63                O'Hare        2546.900000
44             Lake View        2420.966667
35            Grant Park        2068.533333
56         Museum Campus        1510.000000
32            Gold Coast        1364.233333
74    Sheffield & DePaul        1259.766667

In [288]:
location = 'Loop', 'River North', 'Streeterville', 'West Loop', "O'Hare", 'Lake View', 'Grant Park', 'Museum Campus', 'Gold Coast', 'Sheffield & DePaul'

top_10 = top_n_sum['dropoff_location_name'].isin(location)

top_10_df = top_n_sum[top_10]

top_10_df.head(10)

   dropoff_location_name  average_trips_sum
50                  Loop       10727.466667
68           River North        9523.666667
78         Streeterville        6664.666667
87             West Loop        5163.666667
63                O'Hare        2546.900000
44             Lake View        2420.966667
35            Grant Park        2068.533333
56         Museum Campus        1510.000000
32            Gold Coast        1364.233333
74    Sheffield & DePaul        1259.766667

In [289]:
top_10_bar = px.bar(top_10_df, x='dropoff_location_name', y='average_trips_sum', labels={'dropoff_location_name': 'Dropoff Location Name', 'average_trips_sum': 'Average Trips Sum'},title='Top 10 Neighborhoods in Terms of Dropoffs', color='dropoff_location_name')

top_10_bar.show()

In [290]:
top_n_sum['dropoff_location_name'].unique()

array(['Loop', 'River North', 'Streeterville', 'West Loop', "O'Hare",
       'Lake View', 'Grant Park', 'Museum Campus', 'Gold Coast',
       'Sheffield & DePaul', 'Lincoln Park', 'East Village',
       'Little Italy, UIC', 'Uptown', 'Near South Side', 'Garfield Ridge',
       'Logan Square', 'Edgewater', 'West Town', 'Old Town',
       'Rush & Division', 'North Center', 'Lincoln Square', 'Rogers Park',
       'West Ridge', 'Irving Park', 'Hyde Park', 'Avondale',
       'Wicker Park', 'Albany Park', 'United Center', 'Lower West Side',
       'Douglas', 'Portage Park', 'Humboldt Park', 'Norwood Park',
       'Kenwood', 'Bridgeport', 'Armour Square', 'Jefferson Park',
       'Bucktown', 'North Park', 'Garfield Park', 'Mckinley Park',
       'Belmont Cragin', 'Boystown', 'Chinatown', 'Grand Boulevard',
       'Austin', 'Sauganash,Forest Glen', 'South Shore', 'Woodlawn',
       'Little Village', 'Jackson Park', 'North Lawndale', 'Dunning',
       'Ukrainian Village', 'Hermosa', 'Englewood', 'Chatham', 'New City',
       'Grand Crossing', 'Brighton Park', 'Andersonville', 'Oakland',
       'Ashburn', 'Washington Park', 'Auburn Gresham', 'Clearing',
       'Roseland', 'Wrigleyville', 'Edison Park', 'South Chicago',
       'Chicago Lawn', 'Beverly', 'Calumet Heights', 'Washington Heights',
       'Archer Heights', 'Gage Park', 'Fuller Park', 'West Lawn',
       'Morgan Park', 'South Deering', 'Avalon Park', 'West Pullman',
       'Montclare', 'West Elsdon', 'Pullman', 'Undef', 'Mount Greenwood',
       'Hegewisch', 'Burnside', 'East Side', 'Riverdale'], dtype=object)